.root {
    -fx-background-color: #242424;
}
#primary_display {
    -fx-background-color: #242424;
    -fx-text-fill: "white";
    -fx-font: 43px "ADLaM Display";
    -fx-font-weight: bold;
}
#secondary_display {
    -fx-background-color: #242424;
    -fx-text-fill: #b0b0b1;
    -fx-font: 17px "ADLaM Display";
    -fx-font-weight: bold;
}
#button_grid {
    -fx-background-color: #242424;
}

#one {
    -fx-background-color: linear-gradient(#5a5a5a, #666666);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#one:hover {
    -fx-background-color: linear-gradient(#737373, #8c8c8c);
}

#two {
    -fx-background-color: linear-gradient(#5a5a5a, #666666);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#two:hover {
    -fx-background-color: linear-gradient(#737373, #8c8c8c);
}

#three {
    -fx-background-color: linear-gradient(#5a5a5a, #666666);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#three:hover {
    -fx-background-color: linear-gradient(#737373, #8c8c8c);
}

#four {
    -fx-background-color: linear-gradient(#5a5a5a, #666666);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#four:hover {
    -fx-background-color: linear-gradient(#737373, #8c8c8c);
}

#five {
    -fx-background-color: linear-gradient(#5a5a5a, #666666);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#five:hover {
    -fx-background-color: linear-gradient(#737373, #8c8c8c);
}

#six {
    -fx-background-color: linear-gradient(#5a5a5a, #666666);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#six:hover {
    -fx-background-color: linear-gradient(#737373, #8c8c8c);
}

#seven {
    -fx-background-color: linear-gradient(#5a5a5a, #666666);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#seven:hover {
    -fx-background-color: linear-gradient(#737373, #8c8c8c);
}

#eight {
    -fx-background-color: linear-gradient(#5a5a5a, #666666);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#eight:hover {
    -fx-background-color: linear-gradient(#737373, #8c8c8c);
}

#nine {
    -fx-background-color: linear-gradient(#5a5a5a, #666666);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#nine:hover {
    -fx-background-color: linear-gradient(#737373, #8c8c8c);
}

#zero {
    -fx-background-color: linear-gradient(#5a5a5a, #666666);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#zero:hover {
    -fx-background-color: linear-gradient(#737373, #8c8c8c);
}


#plus {
    -fx-background-color: linear-gradient(#333333, #404040);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#plus:hover {
    -fx-background-color: linear-gradient(#404040, #4d4d4d);
}

#minus {
    -fx-background-color: linear-gradient(#333333, #404040);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#minus:hover {
    -fx-background-color: linear-gradient(#404040, #4d4d4d);
}

#multiplication {
    -fx-background-color: linear-gradient(#333333, #404040);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#multiplication:hover {
    -fx-background-color: linear-gradient(#404040, #4d4d4d);
}

#division {
    -fx-background-color: linear-gradient(#333333, #404040);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#division:hover {
    -fx-background-color: linear-gradient(#404040, #4d4d4d);
}

#exponent {
    -fx-background-color: linear-gradient(#333333, #404040);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#exponent:hover {
    -fx-background-color: linear-gradient(#404040, #4d4d4d);
}

#root {
    -fx-background-color: linear-gradient(#333333, #404040);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#root:hover {
    -fx-background-color: linear-gradient(#404040, #4d4d4d);
}

#equal {
    -fx-background-color: linear-gradient(#517db0, #6189b8);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#equal:hover {
    -fx-background-color: linear-gradient(#7296c0, #84a3c8);
}

#sign {
    -fx-background-color: linear-gradient(#333333, #404040);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#sign:hover {
    -fx-background-color: linear-gradient(#404040, #4d4d4d);
}

#decimal {
    -fx-background-color: linear-gradient(#333333, #404040);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#decimal:hover {
    -fx-background-color: linear-gradient(#404040, #4d4d4d);
}


#clear {
    -fx-background-color: linear-gradient(#333333, #404040);
    -fx-text-fill: "white";
    -fx-font: 20px "ADLaM Display";
}
#clear:hover {
    -fx-background-color: linear-gradient(#404040, #4d4d4d);
}
